.gallery
    float: left
    margin: 5px
    border: 1px solid #ccc
    width: 180px
    &:hover
        border: 1px solid #777
    .image
        width: 100%
        height: auto
    .desc  
        padding: 15px
        text-align: center